@model UserManagement.Web.Models.Users.UserListItemViewModel
<h2>Add User</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label asp-for="Forename" class="control-label"></label>
        <input asp-for="Forename" class="form-control" />
        <span asp-validation-for="Forename" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <div class="form-check">
            <input asp-for="IsActive" class="form-check-input" />
            <label class="form-check-label" asp-for="IsActive">Active</label>
        </div>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-controller="Users" asp-action="List" class="btn btn-default">Cancel</a>
}
